.footer-top{
  width: 100%;

  .desktop{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    letter-spacing: 1px;
    max-width: 1010px;
    margin: 0 auto;
    padding: var(--gl-spacing-0200) 0 0;

    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;

    .footer-site-section-title{
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
    }
    
    li{
      box-sizing: border-box;
      color: rgb(0, 0, 0);
      flex-basis: 100%;
      border-right: 0;
    }
  }
}