li{
  list-style-type: none;
  font-size: 12px;
  margin: 9px 0;
  padding: 0 15px;
  width: 50%;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: 960px){
    width: auto;
    border-right: 1px solid
  } 
}